/**

VIEW IN FULLSCREEN FOR ACTUAL EXPERIENCE. HAVE FUN.

**/

	html, body {
		height: 100% !important;
	}

	#left-pannel{
		background-color: #ffffff;
		height: 100%;
    
	}

	.center-inner{
		display: flex;
	    -ms-flex-direction: row;
	    flex-direction: column;
	    -ms-flex-pack: center;
	    justify-content: center;
	    -ms-flex-align: center;
	    align-items: center;
	}

	#right-pannel{
		height: 100%;		
	}


	.r1{
		height: 30%;
	}

	.r2{
		font-size: 45px;
		text-align: center;
		margin: 20px 0 20px 0;
		height: 10%;
	}

	.r3{
		font-size: 38px;
		text-align: center;
		margin: auto;
		height: 10%;
		opacity: 0.85;
	}

	.r4{
		height: 10%;
	}


	.r5{		
		height: 30% !important;
		text-align: center;
		
	}
	.l1{
		font-size: 46px;
	}

	.l2{
		font-size: 18px;
		margin-bottom: 10px;
	}

	.l3-input{
		font-size: 18px;
		padding: 0 7px 0 10px;
		min-width: 360px;
		width: 100%;
		border-radius: 3px;
    	border: 1px solid #e6e6e6;
    	box-sizing: border-box;
    	display: inline-block;
    	padding-left: 0px;
    	color: #8a8a8d;
    	transition: all 0.15s linear;
	}

	.l3-input.active .inputPrefix{
		transition: border 0s linear;
		transition: background-color 0.15s linear;
		background-color: rgba(237, 234, 227, 0.32);
		border-right: 1px solid #111111;
	}

	.inputPrefix{
		height: auto;
   		display: inherit;
   		padding: 10px 5px 10px 20px;
   		border-top-left-radius:3px;
   		border-bottom-left-radius: 3px;
	}

	.inner-div-input{
		min-width: 150px;
		padding: 5px 5px 5px 5px;
	}



	.l4{
		font-size: 14px; 
	}

	.left-form-section{
		height: 45%;
		max-width: 450px;
	}
	.l-top{
		height: 30%
	}


	.btn-btm{
		font-size: 24px;
		padding: 10px 25px 10px 25px;
		border-radius: 10px;
		z-index: 99999;			
	}



	.l-bottom{
		margin-top: 7%;
		display: flex
	}


	.NavBubble{
		width: 10px;
		height: 10px;
		background-color: #b3b3b3;
		border-radius: 50%;
		margin: 0 5px 0 5px;
		 transition:  all 0.5s linear;
	}
	
	

	.left-pannel{
		 animation: 0.5s ease-out 0s 1 slideInFromRight;
  	}

  	.right-pannel{
  		padding: 0px;
		 animation: 0.5s ease-out 0s 1 slideInFromLeft;
  	}
  	.right-card.c1{  		
		background-color: #2c91de;
		color: #ffffff;
  	}

  	.right-card.c2{
  		background-color: #fc641c;
		color: #ffffff;
  	}

  	.right-card.c3{
  		background-color: #23a234;
		color: #ffffff;
  	}

  	.right-card.c4{
  		background-color: #ffd502;
		color: #ffffff;
  	}

  	.btn-btm.c1{
		background-color: #2c91de;
		color: #ffffff;
		 transition:  all 0.35s linear;
	}

	.btn-btm.c2{
		background-color: #fc641c;
		color: #ffffff;
		 transition:  all 0.35s linear;
	}

	.btn-btm.c3{
		background-color: #23a234;
		color: #ffffff;
		transition:  all 0.35s linear;
	}

	.btn-btm.c4{
		background-color: #ffd502;
		color: #ffffff;
		transition:  all 0.35s linear;
	}


	.NavBubble.c1.active{
		background-color: #2c91de;
		 transition:  all 0.5s linear;
	}	 

	.NavBubble.c2.active{
		background-color: #fc641c;
		 transition:  all 0.5s linear;
	}

	.NavBubble.c3.active{
		background-color: #23a234;
		 transition:  all 0.5s linear;
	}

	.NavBubble.c4.active{
		background-color: #ffd502;
		 transition:  all 0.5s linear;
	}



 /* 	.right-card-1.change,.right-card-2.change,.right-card-3.change,.right-card-4.change{
  		visibility: hidden;
  	}*/

  	.right-card.c1,.right-card.c2,.right-card.c3,.right-card.c4{
  		position: absolute;
  	}

/*
  	.right-card.fadeOut{
		 visibility: hidden;
		 opacity: 0;
		 transition: all .5s linear;
  	}

  	.right-card.slideFromRight{
		 visibility: visible;
		 opacity: 1 !important;
		 transition: all .5s linear;
		 animation:  0.5s ease-out 0s 1 slideFromRight;
  	}



  	.left-form-section.slideUpOut{  
  		position: absolute;
  		visibility: hidden;	
		 opacity: 0;
		 transition: all .5s linear;
		 animation:  0.5s ease-out 0s 1 slideUpOutAnimation;
  	}

  	.left-form-section.slideUpIn{  	
  		position: inherit !important;
  		visibility: visible !important;	
		 opacity: 1 !important;
		 transition:  all .5s linear;
		 animation:  0.5s ease-out 0s 1 slideUpInAnimation;
  	}

  	*/
  

/*------------------------------------------------------------------*/

	.right-card.notactive{
		 visibility: hidden;
		 opacity: 0;
		 transition: all 10s linear;
  	}

  	.right-card.notactive.prev{
		 visibility: hidden;
		 opacity: 0;
		 transition: all 0.5s linear;
		 animation:  0.5s ease-out 0s 1 slideOutToRight;
  	}

  	.right-card.active:not(.c1){
		 visibility: visible !important;
		 opacity: 1 !important;
		 transition: all .5s linear;
		 animation:  0.5s ease-out 0s 1 slideInFromRight;
  	}

  	.right-card.active.prev{
		 visibility: visible !important;
		 opacity: 1 !important;
		 transition: all 0s linear;
		 animation: none !important;
  	}




  




	
	.left-form-section.notactive{  
  		position: absolute;
  		visibility: hidden;	
		 opacity: 0;
		 transition: all .5s linear;
		 animation:  0.5s ease-out 0s 1 slideUpOutAnimation;
  	}



  	.left-form-section.active:not(.c1){  	
  		position: inherit !important;
  		visibility: visible !important;	
		 opacity: 1 !important;
		 transition:  all .5s linear;
		 animation:  0.5s ease-out 0s 1 slideUpInAnimation;
  	}


  	.left-form-section.notactive.prev{ 
  	animation:  0.5s ease-out 0s 1 slideDownOutAnimation; 
  		position: absolute;
  		visibility: hidden;	
		 opacity: 0;
		 transition: all .5s linear;
		 
  	}



  	.left-form-section.active.prev{  	
  		position: inherit !important;
  		visibility: visible !important;	
		 opacity: 1 !important;
		 transition:  all .5s linear;
		 animation:  0.5s ease-out 0s 1 slideDownInAnimation;
  	}





  	@keyframes slideInFromRight {
	  0% {
	  	transform: translateX(100%);
	  }
	  100% {
	    transform: translateX(0%);
	  }
	}

	@keyframes slideOutToRight {
	  0% {
	  	transform: translateX(0%);
	  }
	  100% {
	    transform: translateX(100%);
	  }
	}


  	@keyframes slideUpInAnimation {
	  0% {
	  	transform: translateY(100%);
	  }
	  100% {
	    transform: translateY(0%);
	  }
	}


  	@keyframes slideUpOutAnimation {
	  0% {
	  	transform: translateY(0);
	  }
	  100% {
	    transform: translateY(-100%);
	  }
	}



	@keyframes slideDownInAnimation {
	  0% {
	  	transform: translateY(-100%);
	  }
	  100% {
	    transform: translateY(0%);
	  }
	}


	@keyframes slideDownOutAnimation {
	  0% {
	  	transform: translateY(100%);
	  }
	  100% {
	    transform: translateY(200%);
	  }
	}



  	@keyframes slideInFromLeft {
	  0% {
	  	transform: translateX(-50%);
	  	opacity: 0;
	  }
	  30%{
	  	opacity: 1;
	  }
	  100% {
	    transform: translateX(0);
	  }
	}

	@keyframes slideInFromRight {
	  0% {
	  	transform: translateX(50%);
	  	opacity: 0;
	  }
	  50%{
	  	opacity: 1;
	  }
	  100% {
	    transform: translateX(0);
	  }
	}



	.inner-div-input{
		border: 0px;
	}

	.inner-div-input:focus{
		outline: none !important;
	}


	.l3-input.active{
		color: #111111;
		border: 1px solid #837d7d !important;
	}


	.class-blocks{
		background-color: blue;
		width: 18%;
		height: 75px;
		margin: 10px; 
		display: inline-block;
	}
